[submodule "dependencies/FileReader"]
	path = dependencies/FileReader
	url = https://github.com/boongh/FileReader.git
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "dependencies/imGui"]
	path = dependencies/imGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Dependencies/imGui"]
	path = Dependencies/imGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Dependencies/FileReader"]
	path = Dependencies/FileReader
	url = https://github.com/boongh/FileReader.git
[submodule "Dependencies/stb"]
	path = Dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "Dependencies/MultiFFT"]
	path = Dependencies/MultiFFT
	url = https://github.com/boongh/MultiFFT.git
[submodule "testdata/cbsd68"]
	path = testdata/cbsd68
	url = https://github.com/clausmichele/CBSD68-dataset.git
